<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Editar</title>
</head>
<body>
    <div class="container mt-4">
  {{#if message}}
    <div class="card p-4 shadow">
      <h1 class="text-center mb-4">Editar Producto  {{message.title}} </h1>

      <form id="productForm" method="post" action="/api/products/{{message._id}}?_method=put">
        <div class="form-group">
          <label for="title">Título:</label>
          <input type="text" id="title" name="title" class="form-control" value="{{message.title}}" required>
        </div>

        <div class="form-group">
          <label for="description">Descripción:</label>
          <textarea id="description" name="description" class="form-control" required>{{message.description}}</textarea>
        </div>

        <div class="form-group">
          <label for="price">Precio:</label>
          <input type="number" id="price" name="price" class="form-control" value="{{message.price}}" required>
        </div>

        <div class="form-group">
          <label for="category">Categoría:</label>
          <input type="text" id="category" name="category" class="form-control" value="{{message.category}}" required>
        </div>

        <div class="form-group">
          <label for="stock">Stock:</label>
          <input type="number" id="stock" name="stock" class="form-control" value="{{message.stock}}" required>
        </div>

        <div class="form-group">
          <label for="code">Código:</label>
          <input type="text" id="code" name="code" class="form-control" value="{{message.code}}" required>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </form>
      
       <form method="post" action="/api/products/{{message._id}}?_method=delete" class="mt-3">
        <button type="submit" class="btn btn-danger">Eliminar Producto</button>
      </form>
    </div>
  {{else}}
    <p>No se encontró el producto.</p>
  {{/if}}
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const urlParams = new URLSearchParams(window.location.search);
    const successMessage = urlParams.get('successMessage');

    if (successMessage) {
        Swal.fire({
            icon: 'success',
            title: '¡Éxito!',
            text: successMessage,
        }).then(() => {
            // Redirige a la página de edición de productos solo si hay éxito
            window.location.replace('/api/products');
        });
    }
    
    const deleteMessage = urlParams.get('deleteMessage');
    if (deleteMessage) {
        Swal.fire({
            icon: 'success',
            title: '¡Éxito!',
            text: deleteMessage,
        }).then(() => {
            window.location.replace('/api/products');
        });
    }
});
</script>

</body>
</html>