<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anclados</title>
</head>
<body>

    <h1>Anclados</h1>
    <h2>{{bienvenida}}</h2>

    {{#if mostrarBoton}}
        <a href="/api/users/login">Iniciar sessión</a>
    {{/if}}

    <form action="/api/users/logout" method="get">
        <button type="submit">Cerrar sessión</button>
    </form>

    <ul>
        {{#each products}}
            <li>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p>Categoría: {{this.category}}</p>
                <p>Precio: {{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Codigo: {{this.code}}</p>
                <p>Estado: {{this.status}}</p>
            </li>
        {{/each}}
    </ul>




</body>
</html>